/* * {
    border: solid red 2px;
} */

body {
    background-color: rgba(12, 25, 42, 0.816);
    margin: 0;
}

header {
    height: 100px;
    background-color: rgba(7, 14, 24, 0.816);
    display: flex;
    justify-content: space-between;
    color: white;
    box-shadow: 0 10px 100px -100px rgba(0, 0, 0, 0.5);
}
.linksTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
}
.sideBarButton {
    max-width: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 2vw;
}
.oneBar {
    width: 2em;
    background-color: rgb(250, 162, 46);
    height: 0.8vh;
    border-radius: 5px;
}
section.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendarGrid {
    margin: 2em;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(7, minmax(0, 200px));
    grid-template-rows: 12vh 12vh 12vh 12vh 12vh;
    
}

.boxDay {
    height: 1fr;
    width: 1fr;
    border: solid black 2px;
    border-radius: 3px;
    color: white;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    transition: .2s ease-in-out;
    cursor: pointer;
    user-select: none;
    box-shadow: 3px 3px 5px rgb(8, 23, 33);
}
.boxDay:hover {
    color: black;
    background-color: rgba(240, 248, 255, 0.717);
}

.sideBarLi {
    list-style: none;
}




@media (max-width: 600px) {
    .calendarGrid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .boxDay {
        min-width: 200px;
        max-width: 200px;
        min-height: 100px;
    }
}
@media (max-width: 485px) {
    .calendarGrid {
        justify-content: center;
}
}