/* * {
    border: solid red 2px;
} */

body {
    background-color: rgba(12, 25, 42, 0.816);
    margin: 0;
    font-family: 'Pacifico', cursive;
}


header {
    height: 100px;
    background-color: rgba(7, 14, 24, 0.816);
    display: flex;
    justify-content: space-between;
    color: white;
    box-shadow: 0 10px 100px -100px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 0  orange;
}
.linksTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
}
.sideBarButton {
    max-width: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 5vw;
    transition: 0.2s ease-in-out;
}
.sideBarButton:hover {
    background-color: white;
    border-radius: 5px;
}
.oneBar {
    width: 2em;
    background-color: rgb(250, 162, 46);
    height: 0.8vh;
    border-radius: 5px;
    
}
section.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendarGrid {
    margin: 2em;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(7, minmax(0, 200px));
    grid-template-rows: 12vh 12vh 12vh 12vh 12vh;
    
}

.boxDay {
    height: 1fr;
    width: 1fr;
    border: solid black 2px;
    border-radius: 3px;
    color: white;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    transition: .2s ease-in-out;
    cursor: pointer;
    user-select: none;
    box-shadow: 3px 3px 5px rgb(8, 23, 33);
    text-shadow: 1px 2px orange;
}
.boxDay:hover {
    color: black;
    background-color: rgba(240, 248, 255, 0.717);
    text-shadow: 1px 2px rgb(114, 114, 114);
}

.sideBarLi {
    list-style: none;
}

.dayLine {
    position: absolute;
    left: 5%;
    bottom: 20%;
    width: 90%;
    background-color: white;
    height: 0.5%;
}
.verticalLine {
    position: absolute;
    bottom: 17%;
    height: 3%;
    width: 0.2%;
    background-color: white;
}
.hourVerticalLine {
    position: absolute;
    bottom: 11%;
    color: white;
    font-size: 10px;
}

.dayBoxGrow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    min-height: 80%;
    box-shadow: 2px 2px 5px 0 black;
    background-color: rgba(39, 41, 48, 0.995);
    z-index: 1000;
}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 1px;
    font-size: 30px;
    cursor: pointer;
    background-color: #630000c3; /* red */
    color: white;
    width: 35px;
    height: 30px;
    text-align: center;
    border-radius: 50%; /* make it circular */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26); /* add a little shadow for 3D effect */
}
.switchButtonOne, .switchButtonTwo, .saveChanges {
    position: absolute;
    bottom: 3%;
    width: 10vw;
    max-width: 200px;
    height: 3vh;
    border-radius: 2px;
    -webkit-transform: skew(-20deg); 
    -moz-transform: skew(-20deg); 
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    user-select: none;
    transition: 0.5s ease-in-out;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.3em;
}
.switchButtonTwo {
    background-color: rgba(7, 14, 24, 0.816);
    left: 18%;
    color: white;
}
.switchButtonOne {
    left: 5%;
    background: linear-gradient(rgba(255, 166, 0, 0.848), rgb(187, 121, 0));
    color: white;
}

.saveChanges {
    background-color: rgba(255, 255, 255, 0.816);
    right: 10%;
    font-size: 1em;
}

.addNewButton {
    position: absolute;
    top: 12%;
    left: 2%;
    min-width: 40px;
    min-height: 20px;
}

.boxActivity {
    display: flex;
    justify-content: center;
    align-items: center;
}

#durationActivity, #selectTimeActivity, #inputActivity {
    width: 12vw;
    font-size: 0.8em;
    min-height: 15px;
    margin: 2%;
}
h1 {
    color: white;
    margin-left: 1em;
}


@media (max-width: 600px) {
    .calendarGrid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .boxDay {
        min-width: 200px;
        max-width: 200px;
        min-height: 100px;
    }
}
@media (max-width: 485px) {
    .calendarGrid {
        justify-content: center;
}
}
