* {
    margin: 0;
}
body {
    display: flex;
    font-family: 'Patua One', cursive;
    background: linear-gradient( rgb(245, 236, 210), rgba(249, 249, 249, 0.950));
}
input, button {
    font-family: 'Patua One', cursive;
}

.linkTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 50px;
    background-color: rgb(255, 227, 181);
    border-bottom: solid brown 3px;
    border-right: solid brown 3px;
    border-bottom-right-radius: 5px;
}
.LeftSideBar {
    width: 20%;
    height: 99.5vh;
    background: linear-gradient( rgb(245, 236, 210), rgba(249, 249, 249, 0.950));
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 50px;
}
.logo {
    height: 35px;
    width: 60px;
    margin: 3%;
}
.mainAppContainer {
    width: 80%;
}
.loginButton {
    position: absolute;
    top: 50%;
    right: 40%;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    background-color: rgb(237, 204, 142);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
.loginButton:hover {
    background-color: rgb(140, 133, 133);
}


.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99.3vh;
    width: 100%;
    background: linear-gradient( rgb(245, 236, 210), rgba(249, 249, 249, 0.950));
}
#loginForm {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0;
    height: 35vh;
    width: 35vw;
    background: linear-gradient(rgb(225, 135, 115), rgb(165, 128, 41));
    transition: width 0.15s ease-in-out;
}
.loginInput {
    margin: 1vh;
    height: 3vh;
    width: 20vw;
    border: solid black 2px;
    border-radius: 3px;
}
.signUp {
    margin-top: 10%;
    background: linear-gradient(rgb(233, 181, 108), rgb(218, 192, 120));
    border-radius: 5px;
    width: 30%;
    height: 20%;
    box-shadow: 1px 1px 3px 0;
}

@media (min-width: 1400px) {
    .loginBox {
        width: 30vw;
    }
}